.note-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px);
}

.note-title,
.note-content {
  border: none;
  color: #2a3e52;
}

.note-title {
  width: 100%;
  padding: 32px 50px 16px;
  font-size: 20px;
  line-height: 1.375;
}

.note-content {
  flex-grow: 1;
  width: 100%;
  padding: 32px 50px;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
}

.note-content:active,
.note-content:focus,
.note-title:active,
.note-title:focus {
  border: none;
  outline: none;
  box-shadow: none;
}