.note-list {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  width: 25%;
  border-right: 1px solid #eceef1;
}

.list {
  list-style-type: none;
  height: 100%;
  padding-left: 0;
  overflow-y: auto;
}

.list-item {
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid #eceef1;
  cursor: pointer;
}

.list-item:hover {
  background-color: #f9fafc;
}


.list-item.active {
  background-color: #f9fafc;
}

.list-item a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.list-item h1 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.list-item .content {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #87969d;
}

.add-btn {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eceef1;
}

.add-btn button {
  padding: 0;
  border: none;
  font-size: 1rem;
  line-height: 1;
  color: #0081ff;
  background-color: transparent;
  cursor: pointer;
}
